.cooperation {
  padding: 9.2rem 0 10rem 0;
  &__section-title {
    & span {
      background: var(--color-sushi);
    }
  }
  &__section-subtitle {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.4em;
    margin-top: 0.5em;
  }
  &__content {
    margin-top: 8.4rem;
  }
  &__item-first-list {
    margin: 0 3rem 7rem 0;
  }
  &__item-second-list {
    margin-left: 6.4rem;
  }
  &__item {
    display: flex;
    justify-content: space-between;
  }
  &__item-list {
    width: 50%;
  }
  &__item-text {
    font-size: 1.7rem;
    line-height: 156.5%;
    list-style: disc;
    margin-left: 1.5rem;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  &__item-img {
    width: 50%;
    filter: drop-shadow(5px 15px 40px rgba(11, 24, 97, 0.32));
    & img {
      border-radius: 20px;
    }
  }
  &__item-btn {
    margin-top: 3rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 146%;
    display: flex;
    align-items: center;
    padding: 2rem 2rem 2rem 3.3rem;
  }
  &__item-btn-arrow {
    fill: #b26519;
    margin-left: 4.6rem;
  }
}
