.options {
  padding: 9.7rem 0;
  &__section-title {
    & span {
      background: var(--color-sushi);
    }
  }
  &__slider {
    position: relative;
    margin-top: 4.9rem;
  }
}
.options-slider {
  &__wrapper {
    overflow: hidden;
  }
  &__container {
    display: flex;
    transition: all 1s ease;
  }
  &__slide-wrapper {
    background: var(--color-bright-gray);
    box-shadow: 10px 5px 10px rgba(30, 35, 66, 0.15);
    border-radius: 20px;
  }
  &__slide {
    min-width: 33.333%;
    padding: 0 1.5rem;
  }
  &__slide-img img {
    border-radius: 20px 20px 0 0;
    width: 100%;
  }

  &__slide-content {
    padding: 2.7rem 2.3rem;
    text-align: center;
  }
  &__slide-title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 124.5%;
  }
  &__slide-info {
    margin: 1.3rem auto 1.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__slide-terms,
  &__slide-weight {
    font-size: 1.6rem;
    line-height: 124.5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__slide-terms {
    &::before {
      content: url('../images/calendar-icon.svg');
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1.3rem;
    }
  }
  &__slide-weight {
    margin-left: 2rem;
    &::before {
      content: url('../images/box-icon.svg');
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.3rem;
    }
  }
  &__slide-price-from {
    font-size: 2.2rem;
    line-height: 124.5%;
    color: #a3a3a3;
  }
  &__slide-price-number {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.24em;
  }
  &__slide-price-currency {
    font-size: 2.2rem;
    line-height: 124.5%;
  }
  &__slide-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.8rem;
  }
  &__slide-btn {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 146%;
    width: calc(50% - (14px / 2));
    padding: 1.3rem 0;
  }
  &__button-next {
    right: -5.8rem;
  }
  &__button-prev {
    left: -5.8rem;
  }
  &__slide-dots {
    display: none;
    margin-top: 3rem;
  }
}
