:root {
  --color-black: #000;
  --color-white: #fff;
  --color-swiss-coffee: #d4cece;
  --color-charade: #282b38;
  --color-fire-bush: #e58d35;
  --color-burnt-sienna: #e57535;
  --color-sushi: #89c249;
  --color-silver: #cbcbcb;
  --color-bright-gray: #363a4d;
  --color-cinnabar: #e53535;
}
